---
import { ViewTransitions } from "astro:transitions";
import CreateTodo from "../components/CreateTodo";
import DeleteAllTodos from "../components/DeleteAllTodos";
import { buildClient } from "../data/drizzle";
import TodosList from "../components/TodosList";

const drizzle = buildClient(Astro.locals.runtime.env.DB);
const result = await drizzle.query.todos.findMany()
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <ViewTransitions />
  </head>
  <body>
    <div class="flex flex-col h-screen">
      <header class="bg-gray-900 text-white py-4 px-6 flex justify-between">
        <h1 class="text-2xl font-bold">Astro todos</h1>

        <DeleteAllTodos />
      </header>

      <div class="flex-1 overflow-auto p-6">
        <TodosList todos={result} />

        <CreateTodo client:load />
      </div>
    </div>
  </body>
</html>
